.fab {
    align-items: center;
    background-color: rgb(var(--color-secondary-container));
    border-radius: 16px;
    bottom: -66px;
    box-shadow: 0 .2em .5em rgb(var(--color-shadow), .2);
    color: rgb(var(--color-on-secondary-container));
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: calc(calc(calc(100vw - min(100vw, 1440px)) / 2) + 16px);
    transition: all .3s;
    width: 50px;
    z-index: 100;
    &[data-show] {
        bottom: 16px;
    }
    &:active {
        height: 60px;
        width: 60px;
    }
    > span {
        background-color: transparent;
        color: rgb(var(--color-on-secondary-container));
    }
}

@media (hover: hover) {
    .fab:hover {
        height: 60px;
        width: 60px;
    }
}