.page {
  display: flex;
  gap: 16px;
  width: 100%;
  min-height: 100vh;
  background-color: #212121;
}

.decorator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-left: 16px;
  margin-top: 32px;
}

.decoratorIcon {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;

  > span {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: white;
  }
}

.decoratorLine {
  border-radius: 100px 100px 0 0;
  min-width: 5px;
  max-width: 5px;
  min-height: calc(100vh - 98px);
  max-height: calc(100vh - 98px);
  background-color: white;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: #bdbdbd;
    margin-bottom: 16px;
  }

  h1 {
    color: white;
    font-size: 2.5rem;
  }
}

.navigation {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;

  > a {
    display: block;
    color: #81d4fa;
    background-color: #303030;
    text-decoration: none;
    padding: 16px;
    transition-duration: .25s;

    &:hover {
      background-color: #424242;
    }

    > span {
      font-size: 32px;
      display: block;
    }
  }
}