.menu {
    backdrop-filter: blur(10px);
    background-color: rgb(var(--color-background));
    border: 1px solid rgb(var(--color-outline-variant));
    border-radius: 4px;
    box-shadow: 0 .3em .5em rgb(var(--color-shadow), .2);
    max-height: calc(100vh - 74px);
    max-width: calc(100vw - 48px);
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    z-index: 103;
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}

.menu-item {
    align-items: center;
    display: flex;
    font-size: 1em;
    gap: 16px;
    padding: 8px;
    transition: background-color .3s;
    width: 100%;
    &:is(:active,[data-selected]){
        background-color: rgb(var(--color-primary-container));
        color: rgb(var(--color-on-primary-container));
    }
}

@media (hover: hover) {
    .menu-item:hover {
        background-color: rgb(var(--color-primary-container));
        color: rgb(var(--color-on-primary-container));
    }
}